<!--mel 6/6:
    - added a button to pop up a modal
    TODO:
    - make modal actually pop up
    - style button so it doesn't look so sad
    - style page; add pink elements for consistency? also check font size/weight-->

{{> siteNavbar}}


<main class="queue-page">
    <h3>Your Lab Name: {{roomName}}</h3>
    <h4>Room ID: {{roomID}} </h4>
    <h2 class="section-label-title">Queue</h2>
    <button type="button" id="add-queue"><i class="fas fa-plus"></i></button>
    <table class="queue-list">
        <tr>
            <th>Position in Queue</th>
            <th>Name</th>
            <th>Breakout Room Number</th>
            <th>Request Type</th>
        </tr>
        {{#each people}}
            <tr>
                <td>{{position}}</td>
                <td>{{name}}</td>
                <td>{{roomNumber}}</td>
                <td>{{reqType}}</td>
            </tr>
        {{/each}}
    </table>

</main>
{{> addToQueueModal}}
